.img-small {
  width: 50px;
  height: 50px;
}

.profile{
  width: 100px;
  height: 100px;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.col-sm-5.friendInfo{
  padding: 5px;
}

.selected {
  background-color: #3b5998 !important;
  color: white;
}





/* Chat containers */
/*.container {
    border: 2px solid #dedede;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}*/

.friendMessage{
  border: 2px solid #dedede;
  background-color: lightblue;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}
.time-right{
  color: black !important;
  text-align: center;
  margin: auto;
}
/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.message-input-box{
  position: fixed;
}
.message-input{
  resize: vertical;
  min-width: 80%;
  resize: both;
  overflow: auto;
}
